*{
    box-sizing: border-box;
}

img{
    width: 12.5rem;
    height: 12.5rem;
}

.container{
    border: 2px solid lime;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12.5rem 12.5rem 12.5rem 12.5rem;
    gap: 3px;
}

.box{
    display: grid;
    width: 12.5rem;
    height: auto;
}

.box6{
  display: flex;
  grid-column: 3;
  grid-row: 2;
}

.box7{
    display: flex;
    grid-column: 4;
    grid-row: 3;
  }

  .box5{
    display: flex;
    grid-column: 5;
    grid-row: 2;
  }

  .box4{
    display: flex;
    grid-column: 6; 
    grid-row: 3; 
  }

  .box3{
    display: flex;
    grid-column: 7;
    grid-row: 4; 
  }

  .box9{
    display: flex;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3; 
  }



